* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #17153b;
    padding: 10px 20px;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #96C9F4;
}
.landing {
    height: 100vh;
    background-image: url('img/bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    letter-spacing: 40px;
    animation: fadeInDown 1s ease-in-out;
}

button {
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #fff;
    color: #000; 
}

.about-me {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #10111f;
}

.about-me .container {
    display: flex;
    gap: 20px;
}

.about-me img {
    width: 200px;
    border-radius: 50%;
}

.about-me .about-text {
    max-width: 600px;
}

.about-me h4 {
    font-size: 36px;
    margin-bottom: 20px;
    color:#ffffff;
}

.about-me p {
    font-size: 18px;
    color: #ffffff;
}

.char {
    padding: 100px 20px;
    background-color: #0a090f;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.char .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.char .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.char h3 {
    margin-top: 20px;
    font-size: 24px;
}
